{% extends 'base.html' %}
{% block title %}
{{ super() }} - {{ title }}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center ps-2 pe-2 gap-3">
    {% for jacket in jackets_list%}
    <div class="card" style="width: 18rem;">
        <img src="{{jacket.picture}}" class="card-img-top img-responsive" height=300vh alt="{{jacket.title}}">
        <div class="card-body">
            <h5 class="card-title">{{jacket.title}}</h5>
            <p class="card-text">{{jacket.description}}</p>
            <a href="#" class="btn btn-primary">Подробнее</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}